<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit()" class="p-fluid">

  <div class="field">
    <label for="lastname">Nom</label>
    <input 
      id="lastname" 
      type="text" 
      name="lastname" 
      pInputText 
      required 
      minlength="2" 
      [(ngModel)]="newMessage.lastname" 
      #lastname="ngModel"
    />
    <small *ngIf="lastname.invalid && lastname.touched" class="p-error">
      <ng-container *ngIf="lastname.errors?.['required']">Le nom est requis</ng-container>
      <ng-container *ngIf="lastname.errors?.['minlength']">La longueur minimale est de 2 caractères</ng-container>
    </small>
  </div>

  <div class="field">
    <label for="firstname">Prénom</label>
    <input 
      id="firstname" 
      type="text" 
      name="firstname" 
      pInputText 
      required 
      minlength="2" 
      [(ngModel)]="newMessage.firstname" 
      #firstname="ngModel"
    />
    <small *ngIf="firstname.invalid && firstname.touched" class="p-error">
      <ng-container *ngIf="firstname.errors?.['required']">Le prénom est requis</ng-container>
      <ng-container *ngIf="firstname.errors?.['minlength']">La longueur minimale est de 2 caractères</ng-container>
    </small>
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input 
      id="email" 
      type="email" 
      name="email" 
      pInputText 
      required 
      email 
      [(ngModel)]="newMessage.email" 
      #email="ngModel"
    />
    <small *ngIf="email.invalid && email.touched" class="p-error">
      <ng-container *ngIf="email.errors?.['required']">L'email est requis</ng-container>
      <ng-container *ngIf="email.errors?.['email']">Adresse email invalide</ng-container>
    </small>
  </div>

  <div class="field">
    <label for="content">Contenu du message</label>
    <textarea 
      id="content" 
      name="content" 
      pInputTextarea 
      rows="4" 
      required 
      minlength="20" 
      [(ngModel)]="newMessage.content" 
      #content="ngModel"
    ></textarea>
    <small *ngIf="content.invalid && content.touched" class="p-error">
      <ng-container *ngIf="content.errors?.['required']">Le message est requis</ng-container>
      <ng-container *ngIf="content.errors?.['minlength']">Minimum 20 caractères</ng-container>
    </small>
  </div>

  <div class="card flex justify-content-center gap-2">
    <p-toast />
    <p-confirmDialog />
    <p-button (onClick)="confirm1($event)" type="submit" label="Sauvegarder" [outlined]="true" [disabled]="!contactForm.valid" />
    <p-button (onClick)="confirm2($event)" type="reset" label="Restaurer" severity="danger" [outlined]="true" />
  </div>

</form>
