<!-- <form (ngSubmit)="onSubmit()"> -->
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="p-fluid">

    <div class="flex flex-column gap-2">
      <label for="username">Nom d'utilisateur</label>
      <input 
        pInputText 
        id="username" 
        aria-describedby="username-help" 
        formControlName="username" />
      <small id="username-help">
        @if (signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched) {
          <div>
            @if (signUpForm.get('username')?.errors?.['required']) {
              Le nom d'utilisateur est requis.
            }
            @if (signUpForm.get('username')?.errors?.['minlength']) {
              Le nom doit comporter au moins 3 caractères.
            }
          </div>
        }
      </small>
    </div>
  
    <div class="flex flex-column gap-2 mt-3">
      <label for="email">Email</label>
      <input 
        pInputText 
        id="email" 
        formControlName="email" />
    </div>
  
    <div formGroupName="passwords" class="mt-3">
      <div class="flex flex-column gap-2">
        <label for="password">Mot de passe</label>
        <p-password
          type="password" 
          id="password" 
          formControlName="password" 
          autocomplete="new-password"
         />
        @if (signUpForm.get('passwords.password')?.invalid && signUpForm.get('passwords.password')?.touched) {
          <div>
            @if (signUpForm.get('passwords.password')?.errors?.['required']) {
              <span>Le mot de passe est requis.</span>
            }
            @if (signUpForm.get('passwords.password')?.errors?.['securePassword']) {
              <span>Le mot de passe doit contenir au moins 12 caractères, avec une majuscule, une minuscule, un chiffre, et un caractère spécial.</span>
            }
          </div>
        }
      </div>
  
      <div class="flex flex-column gap-2 mt-3">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input 
          pInputText 
          type="password" 
          id="confirmPassword" 
          formControlName="confirmPassword" 
          autocomplete="new-password" />
        @if (signUpForm.get('passwords')?.errors?.['passwordsMismatch'] && signUpForm.get('passwords')?.touched) {
          <span>Les mots de passe ne correspondent pas.</span>
        }
      </div>
    </div>
  
    <p-button 
      class="mt-4" 
      label="S'inscrire" 
      type="submit" 
      [disabled]="!signUpForm.valid">
    </p-button>
    <p-divider />
    <p-button 
      (onClick)="showDialog()" 
      label="Conditions d'utilisation" 
      class="p-button-secondary mt-3" 
    ></p-button>

    <p-dialog
      header="Conditions d'utilisation"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '50rem' }"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [maximizable]="true"
    >
      <p>
        En utilisant ce service, vous acceptez de ne rien accepter, parce que ceci est entièrement fictif. 
        <br><br>
        Les conditions sont générées aléatoirement dans un univers parallèle, sans engagement ni garantie. 
        <br><br>
        Merci de cliquer sur ce bouton pour faire semblant d’y consentir.
      </p>
    </p-dialog>

  </form>
  